@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.especialidadeES {
    width: 100%;
    height: 245px;
    margin-top: 190px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.especialidadeES img {
    width: 100%;
    height: 100%;
}

.box_conteudo_especialidadeES {
    width: 532.37px;
    height: 123px;
    margin-top: 30px;
    position: absolute;
}

.box_conteudo_especialidadeES h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 116px;
    line-height: 139px;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.32);
}

.corpo_especialidadesES {
    width: 100%;
    height: 1808px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/background_body2.png');
    background-size: cover;
}

.form-group_especialidadeES {
    width: 1115px;
    height: 1707px;
    background: rgba(231, 231, 231, 0.81);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_especialidadesES {
    width: 1016px;
    height: 1526px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group_especialidadeES h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
    line-height: 91px;
    color: #008BDA;
}

.card_especialidadeES {
    width: 1012px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-top: 35px;
    background: linear-gradient(180deg, #FFFFFF 10.42%, #D7D7D7 86.46%, #C3C3C3 100%);
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 133, 255, 0.34));
}

.card_especialidadeES:hover{
      color: rgb(255, 238, 4); 
      scale: 1.04;
      transition: all .2s ease-in-out;
}

.card_especialidadeES span {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 58px;
    padding: 20px 20px;
    color: #0085FF;
}