@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.medico_ListaMed {
    width: 100%;
    height: 245px;
    margin-top: 190px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.medico_ListaMed img {
    width: 100%;
    height: 100%;
}

.box_conteudo_ListaMed {
    width: 265px;
    height: 123px;
    margin-top: 30px;
    position: absolute;
}

.box_conteudo_ListaMed h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 116px;
    line-height: 139px;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.32);
}

.corpo_consultas_ListaMed {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('../img/raiox.png');
    background-size: cover;
    display: flex;
}

.container_consultas_ListaMed {
    width: 1115px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(231, 231, 231, 0.81);
    border-radius: 10px;
}

.container_consultas_ListaMed h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    line-height: 80px;
    margin-top: 35px;
    margin-bottom: 30px;
   
    color: #0085FF;
  
}



/* ------------------------ */

.bodyConsultasMed {
    width: 900px;
}

tabela-lista td {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

#tabela-lista td, #tabela-lista th {
    text-align: left;
    border: 1px solid #f6f6f6;
    padding: 8px;
    white-space: pre-wrap;
}

#tabela-lista tr:nth-child(even) {
    background-color: #fff;
}

#tabela-lista tr:hover {
    background-color: #ddd;
}

#tabela-lista th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0085FF;
    color: white;
}

.conteudoPrincipal-btn {
    border: none;
    color: white;
    margin: 15px auto;
    border-radius: 3px;
    width: 50%;
    padding: 7px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.conteudoPrincipal-btn-cadastro {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
    color: #FFFFFF;
    background-color: #0085FF;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
}

.conteudoPrincipal-btn-cadastro:hover {
    background-color: #fff;
    color: #0085FF;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
}

.conteudoPrincipal-cadastro-titulo {
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 13px;
    font-weight: 300;
    color: #0085FF;;
}

/* CADASTROS - EVENTOS */

#conteudoPrincipal-lista {
    /* background-color: #ffffff; */
    min-height: 100px;
    text-align: center;
    margin-bottom: 80px;
}

#tabela-lista {
    font-weight: lighter;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
}

#tabela-lista td {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

#tabela-lista td, #tabela-lista th {
    text-align: left;
    border: 1px solid #f6f6f6;
    padding: 8px;
    font-size: 17px;
    white-space: pre-wrap;
}

#tabela-lista tr:nth-child(even) {
    background-color: #fff;
}

#tabela-lista tr:hover {
    background-color: #ddd;
}

#tabela-lista th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0085FF;
    color: white;
}

.paginacao {
    margin-top: 10px;
    display: inline-block;
}

.paginacao a {
    font-size: 12px;
    color: #868686;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#conteudoPrincipal-cadastro {
    width: 800px;
    height: 270px;
    min-height: 242px;
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 100px;
    background-color: #ffffff;
}

#conteudoPrincipal-cadastro .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudoPrincipal-cadastro input {
    width: 50%;
    margin: 10px;
    text-align: center;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    border: none;
    height: 34px;
    font-size: 12px;
    box-shadow: 1px 1px 1px #ccc;
}

#conteudoPrincipal-cadastro select {
    width: 50%;
    margin: 10px;
    text-align: center;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    border: none;
    height: 34px;
    font-size: 12px;
    box-shadow: 1px 1px 1px #ccc;
}

#conteudoPrincipal-cadastro textarea {
    text-align: center;
    font-size: 12px;
    resize: none;
    width: 50%;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    border: none;
    margin: 10px;
    box-shadow: 1px 1px 1px #ccc;
}

.box_editarDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}